<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brain MRI Tumor Detection</title>
    <style>
        body {
            background-image: url(https://assets.newatlas.com/dims4/default/53b02ae/2147483647/strip/true/crop/4500x2531+0+234/resize/1200x675!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Fe2%2F7a%2F303f6523460bb26e06904f2ce38f%2Fdepositphotos-687591012-xl.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 100vh;
        }
    </style>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>

<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Brain MRI Tumor Detection</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

</body>


</html>




